html {
    scroll-behavior: smooth; /* Jevn scrolling-effekt. */
}

body {
    background-color: black; /* Svart bakgrunn. */
    color: rgb(231, 231, 231); /* Lys grå tekst. */
    overflow-x: hidden; /* Skjuler horisontal scrollbar. */
}

nav {
    background-color: rgb(56, 56, 56); /* Mørkegrå bakgrunn. */
    margin: -5px -5px 0 -5px; /* Justerer margin. */ /*-10px -10px 0 -10px*/
    display: flex; /* Aktiverer flexbox. */
    align-items: center; /* Vertikal sentrering. */
    justify-content: flex-start; /* Starter justering til venstre. */
}

.icon {
    margin-left: 40px; /* Venstre marg for ikonet. */ /*80px*/
    margin-right: 675px; /* Stor høyre marg. */ /*1350px*/
    width: 81px;
    height: 81px;
}

ul {
    list-style-type: none; /* Fjerner standard listestil/prikker. */
    margin: 0; /* Nullstiller marg. */
    padding: 0; /* Nullstiller padding. */
    font-family: "Montserrat", sans-serif; /* Skrifttype Montserrat, fallback sans-serif. */
    font-optical-sizing: auto; /* Automatisk optisk størrelsesjustering. */
    font-weight: 400; /* Normal skrifttykkelse. */
    font-style: normal; /* Normal skriftstil. */
    font-size: 20px; /* Skriftstørrelse 40px. */ /*40px*/
    display: flex; /* Bruker flexbox for å organisere listeelementene horisontalt. */
}
  
li a {
    display: block; /* Gjør lenken til et blokkelement for å ta opp full bredde. */
    color: white; /* Setter teksten til hvit. */
    text-align: center; /* Sentrerer teksten. */
    padding: 7px 8px; /* Setter innvendig avstand rundt teksten. */ /*14px 16px*/
    text-decoration: none; /* Fjerner understrekning fra lenker. */
    margin: 15px; /* Setter marg rundt hver lenke. */ /*30px*/
}
  
li a:hover {
    text-decoration: underline; /* Understrek lenker ved hover. */
}

.active {
    text-decoration: underline; /* Understrek for aktiv lenke. */
    text-shadow: 0 0 10px rgb(136, 41, 225); /* Skyggeeffekt for aktiv lenke. */ /*0 0 20px*/
    border-radius: 25px; /* Avrundede hjørner for den aktive lenken. */ /*50px*/
}

.container {
    margin: 75px 200px; /* Justerer plasseringen av containeren med utvendig marg. */ /*150px 400px*/
    font-family: "Raleway", sans-serif; /* Skrifttype 'Raleway'. */
    font-optical-sizing: auto; /* Automatisk skriftjustering. */
    font-weight: 400; /* Normal skrifttykkelse. */
    font-style: normal; /* Standard tekststil. */
    font-size: 20px; /* Skriftstørrelse 40px. */ /*40px*/
}

footer {
    background-color: rgb(56, 56, 56); /* Mørk grå bakgrunnsfarge. */
    margin: 15px -5px -5px -5px; /* Marg rundt, trekker inn fra kantene. */ /*30px -10px -10px -10px*/
    padding: 1px 25px 1px 25px; /* Padding for innholdet. */ /*2px 50px 2px 50px*/
    display: flex; /* Bruker flexbox for layout. */
    align-items: center; /* Sentrerer innholdet vertikalt. */
    justify-content: center; /* Sentrerer innholdet horisontalt. */
}

.link {
    text-decoration: none; /* Ingen understrekning på lenker. */
    color: white; /* Tekstfargen er hvit. */
    margin: 20px 10px 20px 25px; /* Marg rundt lenken. */ /*40px 20px 40px 50px*/
    width: 50%; /* Lenken tar 50% av bredden. */
}

.link:hover {
    color: rgb(136, 41, 225); /* Tekstfargen endres ved hover. */
    border-radius: 25px; /* Avrundede hjørner ved hover. */ /*50px*/
    transition: 1s; /* Overgangseffekt varer 1 sekund. */
    padding: 5px; /* Padding rundt tekst økes ved hover. */ /*10px*/
}

.link-img {
    margin: 10px; /* Marg rundt bilde-lenken. */ /*20px*/
    width: 75px; /* Fast bredde for bilde-lenken. */ /*150px*/
    bottom: 125px; /* Posisjonerer bilde-lenken 250px opp. */ /*250px*/
}

.link-img:hover {
    box-shadow: 0 0 10px rgb(136, 41, 225); /* Skyggeeffekt ved hover. */ /*0 0 20px*/
    border-radius: 250px; /* Gjør bilde-lenken sirkelrund ved hover. */ /*500px*/
    transition: 0.5s; /* Raskere overgangseffekt ved hover. */
}

.kontakt {
    position: relative; /* Gjør at elementet kan justeres relativt. */
    margin-right: 750px; /* Flytter elementet 1500px til høyre. */ /*1500px*/
    font-family: "Montserrat", sans-serif; /* Skrifttype Montserrat, fallback sans-serif. */
    font-optical-sizing: auto; /* Automatisk optisk størrelsesjustering. */
    font-weight: 400; /* Normal skrifttykkelse. */
    font-style: normal; /* Normal skriftstil. */
    font-size: 25px; /* Skriftstørrelse 50px. */ /*50px*/
}

.container p a {
    text-shadow: 0 0 5px rgb(136, 41, 225); /* Lilla tekstskygge. */ /*0 0 10px*/
    text-decoration: none; /* Fjerner understrekning. */
    color: rgb(214, 132, 219); /* Lys lilla tekstfarge. */
}

.dropdown {
    position: relative; /* Posisjoneres relativt for absolutt plasserte barn. */
    display: inline-block; /* Gjør elementet til inline-blokk for layoutformål. */
}

.dropdown-content {
    display: none; /* Skjult som standard. */
    position: absolute; /* Posisjoneres absolutt i forhold til forelder. */
    background-color: rgba(56, 56, 56, 0.399); /* Halvgjennomsiktig mørk bakgrunn. */
    width: 175px; /* Fast bredde. */ /*350px*/
    z-index: 1; /* Sikrer at dropdown-innholdet vises over andre elementer. */
    border-radius: 25px; /* Avrundede hjørner. */ /*50px*/
}

.dropdown-content a {
    color: white; /* Hvit tekstfarge. */
    padding: 17.5px 8px; /* Padding rundt lenkene. */ /*35px 16px*/
    text-decoration: none; /* Fjerner understrekning. */
    display: block; /* Viser lenker som blokkelementer for å ta opp hele bredden. */
}

.dropdown-content a:hover {
    background-color: rgba(136, 41, 225, 0.399); /* Endrer bakgrunn ved hover til halvgjennomsiktig lilla. */
    border-radius: 25px; /* Bevarer avrundede hjørner ved hover. */ /*50px*/
}

.dropdown:hover .dropdown-content {
    display: block; /* Viser dropdown-innholdet ved hover over dropdown. */
}

.download {
    display: block; /* Gjør elementet til et blokkelement. */
    padding: 5px 10px; /* Setter innvendig avstand. */ /*10px 20px*/
    margin: 5px; /* Setter utvendig avstand rundt elementet. */ /*10px*/
    background-color: rgba(56, 56, 56, 0.399); /* Halvgjennomsiktig mørk bakgrunnsfarge. */
    color: white; /* Hvit tekstfarge. */
    text-decoration: none; /* Fjerner understrekning fra lenker. */
    border-radius: 2.5px; /* Lett avrundede hjørner. */ /*5px*/
    border: none; /* Ingen kantlinje. */
    transition: background-color 0.3s; /* Glatt overgang for bakgrunnsfargeendring. */
    float: right; /* Flyter til høyre side. */
}
  
.download:hover {
    background-color: rgb(136, 41, 225); /* Endrer bakgrunnsfargen ved hover til lilla. */
}
  
.fa-solid {
    margin: 5px; /* Setter utvendig avstand for Font Awesome ikoner. */ /*10px*/
}
