html {
    scroll-behavior: smooth; /* Jevn scrolling-effekt. */
}

body {
    background-color: black; /* Svart bakgrunn. */
    color: rgb(231, 231, 231); /* Lys grå tekst. */
    overflow-x: hidden; /* Skjuler horisontal scrollbar. */
}

.logo {
    width: 960px; /*1920px*/
    height: 200px; /*400px*/
}

.navig1, .navig2 {
    display: flex; /* Aktiverer flexbox layout. */
    flex-direction: column; /* Innhold vertikalt. */
    justify-content: center; /* Justering innad i container. */
    align-items: center; /* Horisontal sentrering av innhold. */
}

.column {
    column-count: 2; /* Deler innholdet i to kolonner. */
}

button {
    background-color: rgba(0, 0, 0, 0); /* Gjør bakgrunnen gjennomsiktig. */
    border-width: 20px; /* Setter tykkelsen på rammen rundt knappen. */ /*40px*/
    width: 285px; /* Fast bredde for knappen. */ /*570px*/
    height: 135px; /* Fast høyde for knappen. */ /*270px */
    border-radius: 450px; /* Gjør kantene veldig runde for å skape en sirkel- eller pilleform. */ /*900px*/
    border-color: rgb(136, 41, 225); /* Lilla farge på knappens ramme. */
    margin: 25px; /* Legger til plass rundt knappen. */ /*50px*/
}

.knapp {
    text-decoration: none; /* Fjerner tekstunderstreking. */
    font-size: 32.5px; /* Stor skriftstørrelse. */ /*65px*/
    text-align: center; /* Sentrerer tekst. */
    color: rgb(231, 231, 231); /* Lys grå tekstfarge. */
    width: 285px; /* Fast bredde. */ /*570px*/
    height: 135px; /* Fast høyde. */ /*270px*/
    display: flex; /* Bruker Flexbox for layout. */
    flex-direction: column; /* Innhold vertikalt organisert. */
    justify-content: center; /* Vertikal sentrering av innhold. */
    position: relative; /* Gjør posisjon justerbar. */
    left: -22.5px; /* Flytter til venstre fra opprinnelig posisjon. */ /*-45px*/
    top: -22px; /* Flytter opp fra opprinnelig posisjon. */ /*-44px*/
    font-family: "Raleway", sans-serif; /* Skrifttype 'Raleway'. */
    font-optical-sizing: auto; /* Automatisk skriftjustering. */
    font-weight: 400; /* Normal skrifttykkelse. */
    font-style: normal; /* Standard tekststil. */
}

button:hover {
    background-color: rgb(136, 41, 225); /* Endrer bakgrunnsfarge ved hover for knapp. */
}

.knapp:hover {
    animation-name: tekst; /* Navnet på animasjonen for hover-effekt. */
    animation-duration: 0.4s; /* Varighet av animasjonen. */
    animation-fill-mode: forwards; /* Beholder animasjonens sluttstil. */
}

@keyframes tekst {
    100% { transform: scale(1.15, 1.15); } /* Forstørrer teksten til 115%. */
}

p {
    font-family: "Montserrat", sans-serif; /* Skrifttype Montserrat, fallback sans-serif. */
    font-optical-sizing: auto; /* Automatisk optisk størrelsesjustering. */
    font-weight: 400; /* Normal skrifttykkelse. */
    font-style: normal; /* Normal skriftstil. */
    font-size: 25px; /* Skriftstørrelse 50px. */ /*50px*/
    margin-left: 25px; /* Venstre marg på 50px. */ /*50px*/
}  

footer {
    background-color: rgb(56, 56, 56); /* Mørk grå bakgrunnsfarge. */
    margin: 15px -5px -5px -5px; /* Marg rundt, trekker inn fra kantene. */ /*30px -10px -10px -10px*/
    padding: 1px 25px 1px 25px; /* Padding for innholdet. */ /*2px 50px 2px 50px*/
    display: flex; /* Bruker flexbox for layout. */
    align-items: center; /* Sentrerer innholdet vertikalt. */
    justify-content: center; /* Sentrerer innholdet horisontalt. */
}

.link {
    text-decoration: none; /* Ingen understrekning på lenker. */
    color: white; /* Tekstfargen er hvit. */
    margin: 20px 10px 20px 25px; /* Marg rundt lenken. */ /*40px 20px 40px 50px*/
    width: 50%; /* Lenken tar 50% av bredden. */
}

.link:hover {
    color: rgb(136, 41, 225); /* Tekstfargen endres ved hover. */
    border-radius: 25px; /* Avrundede hjørner ved hover. */ /*50px*/
    transition: 1s; /* Overgangseffekt varer 1 sekund. */
    padding: 5px; /* Padding rundt tekst økes ved hover. */ /*10px*/
}

.link-img {
    margin: 10px; /* Marg rundt bilde-lenken. */ /*20px*/
    width: 75px; /* Fast bredde for bilde-lenken. */ /*150px*/
    bottom: 125px; /* Posisjonerer bilde-lenken 250px opp. */ /*250px*/
}

.link-img:hover {
    box-shadow: 0 0 10px rgb(136, 41, 225); /* Skyggeeffekt ved hover. */ /*0 0 20px*/
    border-radius: 250px; /* Gjør bilde-lenken sirkelrund ved hover. */ /*500px*/
    transition: 0.5s; /* Raskere overgangseffekt ved hover. */
}

.kontakt {
    position: relative; /* Gjør at elementet kan justeres relativt. */
    margin-right: 750px; /* Flytter elementet 1500px til høyre. */ /*1500px*/
} 
